body {
    text-align: center;
    background-image: url('wiz.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: rgb(96, 70, 122);
}

body > div > h1 {
    color: rgb(122, 210, 71);
    text-decoration: underline;
}

body > div > h3 {
    text-align: center;
    font-weight: lighter;
    color: #cdcee8;
}

.header {
    background-image: url(https://media2.giphy.com/media/fmsA2RG7TKxuo/giphy.gif?cid=6c09b95260tckzlxlib03jp2ricgvnsofzs3ouaznjrspzel&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wares > img {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.wares {
    font-size: 110%;
}

.wares > p, span {
    color: rgb(80, 223, 123);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price {
    font-weight: bolder;
}

#srs {
    color: rgb(255, 48, 48);
}

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
    color: beige;
    font-size: 130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: cebter;
}

.contact > p > a {
    color: rgb(0, 255, 8);
}